
.btn-sig{
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    padding: .1rem .4rem;
    border-radius: 5px;
    font-size: .9rem;
}

.btn-sign{
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    padding: .2rem .5rem;
    border-radius: 5px;
    font-size: .9rem;
}
.input{
    background-color: transparent;
    outline: none;
    font-size: .9rem;
    color: #FFFFFFBF;
    /* border:1px solid #404750 */
}
.button{
    margin-top: .1rem;
    margin-bottom: .1rem;
    margin-left: 4rem;
    padding:0rem .4rem;
    font-size: .8rem;
    border-radius: 5px;
    color:  #c5c7c9;
    border: 1px solid #404750;
}