.hero-warpper {
  width: 100%;
  background-image: url("../../assets/home-image-bg-v6.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: 0;
  padding-top: 9rem;
}
.hero-text-wrapper {
  width: 90%;
  /* height: 85vh; */
  margin: auto;
  /* border: solid 1px red; */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.hero-image-logo img {
  width: 100%;
  object-fit: cover;
}
.hero-text h2 {
  font-size: 3.3rem;
  color: #ffffff;
  line-height: 58px;
}
.hero-text button {
  border-radius: 3px;
  border: none;
  color: #fff;
  background-color: #007aff;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.9rem 3rem;
  margin-top: 2rem;
}
@media screen and (max-width: 1050px) {
  .hero-warpper {
    width: 100%;
    background-image: url("../../assets/home-image-bg-v6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: 0;
    padding-top: 9rem;
  }
  .hero-text-wrapper {
    width: 90%;
    /* height: 85vh; */
    margin: auto;
    /* border: solid 1px red; */
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  .hero-image-logo img {
    width: 100%;
    object-fit: cover;
  }
  .hero-text h2 {
    font-size: 2.5rem;
    color: #ffffff;
    line-height: 43px;
  }
  .hero-text button {
    font-size: 1rem;
    padding: 0.8rem 2.5rem;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 850px) {
  .hero-warpper {
    width: 100%;
    background-image: url("../../assets/home-image-bg-v6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    margin-top: 0;
    padding-top: 6rem;
  }
  .hero-text-wrapper {
    width: 80%;
    margin: auto;
    /* border: solid 1px red; */
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
  }
  .hero-image-logo {
    text-align: center;
    padding: 2rem 0 1rem;
  }
  .hero-image-logo img {
    width: 80%;
    object-fit: cover;
  }
  .hero-text h2 {
    font-size: 2.5rem;
    color: #ffffff;
    line-height: 43px;
  }
  .hero-text button {
    font-size: 1rem;
    padding: 0.8rem 2.5rem;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 450px) {
   .hero-warpper {
    width: 100%;
    background-image: url("../../assets/home-image-bg-v6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    margin-top: 0;
    padding-top: 6rem;
  }
  .hero-text-wrapper {
    width: 80%;
    margin: auto;
    /* border: solid 1px red; */
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
  }
  .hero-image-logo {
    text-align: center;
    padding: 2rem 0 1rem;
  }
  .hero-image-logo img {
    width: 80%;
    object-fit: cover;
  }
  .hero-text h2 {
    font-size: 1.5rem;
    color: #ffffff;
    line-height: 27px;
  }
  .hero-text button {
    font-size: .8rem;
    padding: 0.7rem 2rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 380px) {
     .hero-warpper {
    width: 100%;
    background-image: url("../../assets/home-image-bg-v6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    margin-top: 0;
    padding-top: 6rem;
  }
  .hero-text-wrapper {
    width: 80%;
    margin: auto;
    /* border: solid 1px red; */
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
  }
  .hero-image-logo {
    text-align: center;
    padding: 2rem 0 1rem;
  }
  .hero-image-logo img {
    width: 80%;
    object-fit: cover;
  }
  .hero-text h2 {
    font-size: 1.5rem;
    color: #ffffff;
    line-height: 27px;
  }
  .hero-text button {
    font-size: .8rem;
    padding: 0.7rem 2rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 1050px) {
     .hero-warpper {
    width: 100%;
    background-image: url("../../assets/home-image-bg-v6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    margin-top: 0;
    padding-top: 6rem;
  }
  .hero-text-wrapper {
    width: 80%;
    margin: auto;
    /* border: solid 1px red; */
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
  }
  .hero-image-logo {
    text-align: center;
    padding: 2rem 0 1rem;
  }
  .hero-image-logo img {
    width: 80%;
    object-fit: cover;
  }
  .hero-text h2 {
    font-size: 1.4rem;
    color: #ffffff;
    line-height: 22px;
  }
  .hero-text button {
    font-size: .8rem;
    padding: 0.6rem 1.5rem;
    margin-top: 1rem;
  }
}
