.footer-wrapper {
  text-align: center;
  background-color: #081528;
  padding: 50px 0px 0px;
}
.footer-logo img {
  width: 10%;
}

.footer-link {
  width: 60%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
  list-style: none;
}
.footer-link li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}
.footer-wrapper p {
  color: #6f7f92;
  font-size: 17px;
  padding: 10px 0;
}
.footer-wrapper p:last-child {
  padding-bottom: 8rem;
}
.social-media {
  display: flex;
  margin: 15px auto;
  padding: 0 10px;
  width: 5%;
  /* border: solid; */
  align-items: center;
  text-align: center;
  gap: 20px;
  color: #ffffff;
}
.bi-icon {
  font-size: 25px;
}
@media screen and (max-width: 850px) {
  .footer-link {
    width: 100%;
    margin: 20px auto;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 10rem;
    list-style: none;
  }
  .footer-logo img {
    width: 20%;
  }
  .footer-link li a {
    font-size: 13px;
    padding-top: 15px;
  }
  .footer-wrapper p {
    font-size: 12px;
    
  }

  .social-media {
    display: flex;
    margin: 15px auto;
    padding: 0 150px;
    width: 50%;
    /* border: solid; */
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}

@media screen and (max-width: 550px) {
  .footer-link {
    width: 100%;
    margin: 20px auto;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 6rem;
    list-style: none;
  }
  .social-media {
    display: flex;
    margin: 15px auto;
    padding: 0 140px;
    width: 85%;
    /* border: solid; */
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  .footer-logo img {
    width: 30%;
  }
  
}

@media screen and (max-width: 550px){
    .social-media {
        width: 90%;
    }
    .footer-wrapper p{
        line-height: -20px;
    }
}