.footer-wrapper {
  text-align: center;
  background-color: #081528;
  padding: 50px 0px 0px;
}
.footer-logo img {
  width: 10%;
}
.footer-link{
  width:35%;
  list-style: none;
  text-align: center;
  margin:1rem auto;
  display: flex;
  flex-direction: row;
 justify-content: space-between;
 /* border: 1px solid red; */
}
.footer-link a{
  color: #fff;
  text-decoration: none;
font-weight:500;
font-size: 1.1rem;
}
.footer-link li:nth-child(6){
  display: none;
}
.footer-text {
   color: #6f7f92;
  font-size: 17px;
  padding: 10px 0;
  font-weight: 500;
}
.bi-icon{
  color: #fff;
  font-size: 1.5rem;
}
.social-media {
  width: 5%;
  display: flex;
  align-items: center;
justify-content: space-around;
  margin: 15px auto;
  /* border: 1px solid red; */
}
.Ntwist-Inc{
   color: #6f7f92;
  font-size: 17px;
  padding: 10px 0;
  font-weight: 500;
}
@media screen and (max-width:1050px) {
  .footer-link{
  width:50%;
  }
  .social-media {
  width: 10%;
}
}

@media screen and (max-width:850px) {
  .footer-logo img {
  width: 15%;
}
.footer-link{
  width:60%;
}
.footer-link a{
font-weight:500;
font-size: 1rem;
}

.footer-text {
  font-size: 14px;
  padding: 10px 0;
  font-weight: 500;
}
.bi-icon{
  color: #fff;
  font-size: 1.5rem;
}
.social-media {
  width: 12%;
  margin: 15px auto;
  /* border: 1px solid red; */
}
.Ntwist-Inc{
  font-size: 14px;
  padding: 10px 0;
  font-weight: 500;
}
}

@media screen and (max-width:450px) {
  .footer-logo img {
  width: 25%;
}
.footer-link{
  width:80%;
  display: grid;
  text-align: start;
  grid-template-columns: repeat(3,1fr);
  /* gap: 20px; */
}
.footer-link li:nth-child(6){
  display: block;
}
.footer-link li{
  margin-top: 1rem;
}
.footer-link a{
font-weight:500;
font-size: 1rem;
}

.footer-text {
  font-size: 12px;
  padding: 10px 0;
  font-weight: 500;
}
.bi-icon{
  color: #fff;
  font-size: 1.4rem;
}
.social-media {
  width: 20%;
  margin: 15px auto;
  /* border: 1px solid red; */
}
.Ntwist-Inc{
  font-size: 12px;
  padding: 10px 0;
  font-weight: 500;
}
}


@media screen and (max-width:380px) {
  .footer-logo img {
  width: 25%;
}
.footer-link{
  width:70%;
  display: grid;
  text-align: start;
  grid-template-columns: repeat(2,1fr);
  /* gap: 20px; */
}
.footer-link li{
  margin-top: 1rem;
}
.footer-link a{
font-weight:500;
font-size: 1rem;
}

.footer-text {
  font-size: 11px;
  padding: 10px 0;
  font-weight: 500;
}
.bi-icon{
  color: #fff;
  font-size: 1.3rem;
}
.social-media {
  width: 20%;
  margin: 15px auto;
  /* border: 1px solid red; */
}
.Ntwist-Inc{
  font-size: 11px;
  padding: 10px 0;
  font-weight: 500;
}
}

@media screen and (max-width:1050px) {
  
}